body {
  max-width: 800px;
  min-height: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #FF00FF;
  background-image: url("./background.jpg");
  background-size: cover;
  overflow: hidden;
}
